@{
    ViewData["Title"] = "Backdatas";
}

<!-- Page header -->
<div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex border-top">
        <div class="d-flex">
            <div class="breadcrumb py-2">
                <a href="home" class="breadcrumb-item"><i class="ph-house"></i></a>
                <span class="breadcrumb-item active">Backdatas</span>
            </div>
        </div>
        <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
            <div class="d-lg-flex mb-2 mb-lg-0">
                <a asp-action="addupdate" asp-controller="Backdata" class="d-flex align-items-center text-body py-2">
                    <i class="ph-plus-circle me-2"></i>
                    Add Backdata
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Backdatas</h5>
        </div>

        <table id="default-ajax-datatable" class="table datatable-html">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Row No</th>
                    <th>Type of Backdata</th>
                    <th>Type of Backdata Option</th>
                    <th>Backdata</th>
                    <th>Description</th>
                    <th>Sqft Cost</th>
                    <th>Sqmt</th>
                    <th>Gen Furnitur</th>
                    <th>Partitions</th>
                    <th>BoughtOut</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- /content area -->


<script type="text/javascript">
    $(document).ready(function () {
        BindDatatable();
    });

    function BindDatatable() {
        var table = $('#default-ajax-datatable').DataTable({
            destroy: true,
            serverSide: true,
            paging: true,
            searching: true,
            responsive: true,
            ajax: {
                url: "backdata/getlistofdata",
                type: "POST",
                datatype: "jason",
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columns: [
                { data: "id", name: "id", visible: false },
                { data: "rowNo", name: "rowNo", class: "text-center", orderable: false },
                { data: "typeofBackdata", name: "typeofBackdata" },
                { data: "typeofBackdataOption", name: "typeofBackdataOption" },
                { data: "backdata", name: "backdata" },
                { data: "description", name: "description" },
                { data: "sqftCost", name: "sqftCost" },
                { data: "sqmt", name: "sqmt" },
                { data: "genFurnitur", name: "genFurnitur" },
                { data: "partitions", name: "partitions" },
                { data: "boughtOut", name: "boughtOut" },
                { data: null, name: "action", class: "text-center", orderable: false },
            ],
            columnDefs: [{
                targets: [11],
                render: function (data, type, row, meta) {
                    return '<div class="d-inline-flex">' +
                        '<div class="dropdown">' +
                        '<a href="#" class="text-body" data-bs-toggle="dropdown">' +
                        '<i class="ph-list"></i>' +
                        '</a>' +
                        '<div class="dropdown-menu dropdown-menu-end">' +
                        '<a href="backdata/getbyid/' + row['id'] + '" class="dropdown-item"><i class="ph-note-pencil me-2"></i>Edit</a>' +
                        '<a href="#" onclick="Delete(' + row['id'] + ')" class="dropdown-item"><i class="ph-x-circle me-2"></i>Delete</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                }
            }
            ],
            order: [[0, 'desc']],
        });
    };

    async function Delete(backdataId) {
        var obj = {
            ['type']: 'Post',
            ['url']: 'backdata/delete',
            ['data']: {
                'id': backdataId,
            },
            ['processData']: true,
        }

        var result = await AjaxCall(obj);
        if (result.status) {
            BindDatatable();
        }
        else {
            console.log('This was failure');
        }
    }
</script>