@model BalasERP.Domain.LoginDTO

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Login";
}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

            <!-- Login form -->
            <form id="login" class="login-form" asp-action="userlogin" asp-controller="login" method="post">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                <img src="./assets/images/logo_icon.svg" class="h-48px" alt="">
                            </div>
                            <h5 class="mb-0">Login to your account</h5>
                            <span class="d-block text-muted">Enter your credentials below</span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <div class="form-control-feedback form-control-feedback-start">
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Username">
                                <div class="form-control-feedback-icon">
                                    <i class="ph-user-circle text-muted"></i>
                                </div>
                                <span asp-validation-for="UserName"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="form-control-feedback form-control-feedback-start">
                                <input type="password" class="form-control" asp-for="Password" placeholder="•••••••••••">
                                <div class="form-control-feedback-icon">
                                    <i class="ph-lock text-muted"></i>
                                </div>
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                        </div>

                        @* <div class="text-center">
                            <a href="/account/forgotpassword">Forgot password?</a>
                        </div> *@
                    </div>
                </div>
            </form>
            <!-- /login form -->

        </div>
        <!-- /content area -->

    </div>
    <!-- /inner content -->

</div>
<!-- /main content -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script type="text/javascript">
    $(function () {
        $("#login").submit(async function (e) {
            e.preventDefault();

            if ($("#login").valid()) {

                var obj = {
                    ['type']: $(this).attr("method"),
                    ['url']: $(this).attr("action"),
                    ['data']: $('#login').serialize(),
                }

                var result = await AjaxCall(obj);
                if (result.status) {
                    console.log('This was success');
                    window.location.href = '@Url.Action("index","home")';
                }
                else {
                    console.log('This was failure');
                }
            }
            else
                return false;
        });
    });

</script>