@{
    ViewData["Title"] = "Dashboard";
}

<!-- Page header -->
<div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex border-top">
        <div class="d-flex">
            <div class="breadcrumb py-2">
                <a href="home" class="breadcrumb-item"><i class="ph-house"></i></a>
                <span class="breadcrumb-item active">Dashboard</span>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-xl-12">
        </div>
    </div>
</div>
<!-- /content area -->
